body {
  height: 100%;
  font-family: "Baloo 2", cursive;
  background: #ffffff;
  padding: 40px;
  color: #000000;
  line-height: inherit;
}
#box {
  padding: 0px;
}
#boxWrap {
  background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 40px;
  max-width: 600px;
}

#location {
  text-align: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: 50px;
  margin-left: 5px;
}
#placeInfo {
  margin-top: 15px;
  width: 15rem;
  background: #fafafa;
  border-radius: inherit;
  box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.57);

}

ul {
  display: block;
  list-style: none;
  border-bottom: 15px;
  padding-left: 15px;
  padding-top: 5px;
}
#detailInfo {
  width: 12rem;
  border-radius: 15px;
  margin-top: 15px;
  padding: 5px;
  background: #fafafa;
  box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.57);

}
#temperature {
  font-size: 5rem;
  color: #000000;
  margin-left: 20px;
}
#currentTemp {
  padding-bottom: 2px;
  z-index: 2;
  padding-left: 15px;
  background: #fafafa;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 20px;
  box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.57);

}
sup {
  font-size: 2.5rem;
  color: #000000;
}
#icon {
  height: 8rem;
  z-index: 3;
  position: absolute;
  margin-top: -70px;
  margin-left: -40px;

}
#forecast-icon {
  height: 50%;
}
p {
  margin-bottom: 0rem;
}
a :active :focus :target {
  color: #000000;
  text-decoration: none;
}
a:visited :hover {
  color: #b4b4b4;
}

div i {
  color: #000000;
  font-size: 40px;
  position: relative;
  left: -15px;
  bottom: 0px;
  background: #fafafa;
  opacity: 0.8;
  border-radius: 50%;
  padding: 22px;
}
.coded {
  font-size: 14px;
  color: #b1aeae;
  text-decoration: none;
  padding-left: 30px;
  margin: -40px auto;
}
#row-forecast {
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 10px;
}
#forecast {
  text-align: center;
  background: #fafafa;
  opacity: 0.8;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 10px;
  box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.57);

}

#forecast i {
  margin-top: 0px;
  margin-bottom: 5px;
  position: relative;
}

small {
  text-decoration: none;
  margin: 0 auto;
  display: table;
  padding: 5px;
}
small a {
  color: #000000;
}
a {
  color: #000000;
  text-decoration: none;
}
a:visited :hover {
  color: #b4b4b4;
}

.btn {
  border-radius: 30px;
  border: transparent;
  box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.57);
}
.coded {
  font-size: 14px;
  color: #b1aeae;
  text-decoration: none;
  margin: -40px auto;
  padding-left: 65px;
}

#city-input{ 
  box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.57);
}

